html,
body {
    margin: 0;
}


/*
* {
    outline: 2px white solid;
}
*/

body {
    background-image: url("../photo/background.jpg"), url("../photo/background2.jpg");
    background-position: right center top, bottom;
    background-repeat: repeat-x, repeat;
    background-attachment: scroll, fixed;

    text-align: center;
}

.expand {
    color: transparent;

    position: relative;
    top: 1000px
}

.titulek1 {
    text-align: left;

    position: relative;
    padding: 15px;
    top: -30px;

    background-color: rgba(52, 2, 145, 0.7);
}

.title1 {
    position: relative;
    top: 4px;
    padding: 20px;
    margin-left: -11px;

    color: #cecece;
    font-family: 'Coiny';
    font-size: 45px;

    border-radius: 16px;
    background-color: rgba(89, 0, 173, 0.6);
}

.logo1 {
    position: relative;
    top: 296px;
    padding: 15px;

    color: #cecece;
    font-family: 'Ubuntu';
    font-size: 90px;

    background-color: rgba(40, 0, 86, 0.3);
}

.logos1 {
    padding: 0 20px 0 20px;

    border-radius: 16px;
    background-color: rgba(132, 25, 255, 0.2);
}

.btn {
    position: relative;
    top: 450px;
    padding: 5px;

    border-color: transparent;
    border-radius: 32px;
    background-color: #7525ed;
}

.btn:hover {
    border-color: #b38eeb;
    background-color: #9861e9;
}

.btn1 {
    padding: 0 80px;
}

.odstavec1 {
    margin: 0 25%;
    position: relative;
    top: 185px;

    color: #cecece;
    font-family: 'Ubuntu';
    font-size: 30px;
}

.nadpis {
    position: relative;
    top: 600px;

    text-decoration: underline;
    color: #cecece;
    font-family: 'Ubuntu';
    font-size: 40px;
}

.odstavec2 {
    text-indent: 1.5cm;
    text-align: left;
    position: relative;
    top: 605px;
    margin: 0 20%;

    color: #cecece;
    font-family: 'Ubuntu';
    font-size: 30px;
}

.text1 {
    text-indent: none;
    text-align: center;
    margin: 0 -5%;
}

a {
    text-decoration: none;
    color: #cecece;
    font-family: 'Ubuntu';
    font-size: 40px;    
}

#menu {
    position: relative;
    top: -917px;
    right: -885px;
    padding: 5px 15px;

    border-radius: 8px;
    border-color: transparent;
    background: transparent;
}

#menu:hover {
    background-color: rgba(213, 203, 230, 0.5);
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    right: 0;
    z-index: 1;
    top: 0;

    background-color: #b38eeb;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}